p{
    text-indent: 45px;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
h2{
    margin-bottom: 0px;
}
h3, h4, h5{
    margin: 5px;
    text-align: left;
}
.col2-cont .side-bar{
    margin-top: 10px;
}
ul{
    display: flex;
    column-gap: 45px;
    flex-wrap: wrap;
}

/* #personal .side-bar{
    border-radius: 50px;
    overflow: clip;
    display: flex;
    justify-content: center;

    height: 300px;
    min-width: 120px;
}

#personal .side-bar img{
    height: 300px;
    border-radius: unset;
    width: unset;
} */


@media(max-width: 1040px) {
    /* #personal .side-bar {
        height: 200px;
        align-items: center;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    } */
    .col2-cont.flip, .col2-cont {
        flex-direction: column;
    }
    .col2-cont .side-bar img{
        width: unset;
        height: 150px;
    }        
    .col2-cont .side-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        /* overflow: clip;
        height: 150px;*/
        order: 1;
    }
    .col2-cont>h2{
        order: 2;
    }
    .col2-cont .main-content{
        width: 100%;
        order: 3;
    }

    #personal .col2-cont .side-bar img{
        border-radius: 20px;
        content:url("../img/Billy_YellowAsterButte_Landscape.jpg");
        width: 95%;
        height: auto;
    }      
    
}