footer{
    min-height: 90px;
    background-color: #244D7E;
    display: flex;
    margin-top: auto;
    flex-direction: row-reverse;
}
#footerLogo > img{
    height: 40px;
    margin: 7px;
}
#footerLogo {
    display: flex;
    align-items: center;
}
  