#education-tile .tile-text{
  font-weight: bold;
  font-size: 16pt;
  text-align: center;  
}
#education-tile .tile-link{
  font-size: 13pt
}
#education-tile .tile-title, #education-tile .tile-text{
  line-height: 1.3;
}
#projects-tile .tile-content .tile-img{
  border-radius: 20px;
}

@media(max-width: 1695px) {
  .col2-cont .side-bar{
    width: 30%;
  }
  .col2-cont .main-content{
    width: calc(70% - 20px);
  }
}
@media(max-width: 1315px) {
  .col2-cont .side-bar{
    width: 40%;
  }
  .col2-cont .main-content{
    width: calc(60% - 20px);
  }
}
@media (max-width:1000px) {
  h1{
    font-size: 35pt;
  }
}
@media(max-width: 780px) {
  .col2-cont .side-bar img{
    border-radius: 20px;
    content:url("../img/Billy_YellowAsterButte_Landscape.jpg");
  }
  .col2-cont{
    flex-direction: column;
  }
  .col2-cont .side-bar{
    width: 100%;
  }
  .col2-cont .main-content{
    width: 100%;
  }
}
