body{
  margin:0px;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2, h3, h4{
  color: #244D7E;
  text-align: center;
}
h1{
  font-size: 46pt;
}
h2{
  font-size: 22pt;
}
h3{
  font-size: 18pt;
  font-weight: normal;
  margin: 5px
}
h4{
  font-size: 13pt;
  font-weight: bold;
  margin: 5px
}
h5{
  font-size: 13pt;
  font-weight: bold;
  color: #1d1d1d;
}

img{
  width: 100%; 
}
.content{
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

}

.tile-container{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}
.tile{
  background: #f2f2f2;
  border-radius: 40px;
  padding: 20px;
  width:365px;
/*   height: 180px; */
  overflow: clip;
  
}
.tile h2{
  margin: 0px;
  margin-bottom: 7px
}
.tile-content{
  display: flex;
  flex-flow: wrap;
}
.tile-content .tile-img{
  width:25%;
  min-width: 70px;
  overflow: clip;
}
.tile-content .tile-title{
  font-weight: bold;
  font-size: 16pt;
  width: 75%;
  display: flex;
  align-content: center;
}
.tile-content p{
  margin-top: auto;
  margin-bottom: auto;
}
.tile-content .tile-text{
  text-align: left;
  margin-top: 7px;
  font-size: 13pt; 
  width: 100%
}
a{
  text-decoration: none;
  color: #244D7E;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}

.col2-cont .side-bar{
  width: 20%;
  margin-right: 20px;
  margin-top: 20px;
}
.col2-cont .side-bar img{
  border-radius: 50px;
}
.col2-cont .side-bar img.logo{
  border-radius: 0px;
}

.col2-cont{
  display: flex;
  flex-wrap: wrap;
}

.col2-cont>h2{
  width: 100%;
} 

.col2-cont.flip{
  flex-direction: row-reverse;
}

.col2-cont .main-content{
  width: calc(80% - 20px);
  text-align: center;
}

.section{
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width:525px){
  .content{
    padding-left: 15px;
    padding-right: 15px;
  }
}

p a::after{
  margin-left: 2px;
  content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='%23244D7E' stroke='%23244d73' stroke-width='0.5' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z'/%3E%3C/svg%3E");
}

.panel-group a::after{
  content: none;
}

.panel-title {
  color: #244d7e;
}
.panel, .panel-default {
  border-color: #6e89a9;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
  border-top-color: #6e89a9;
}
.panel-heading{
  border-radius: 3px;
}